*.a filter=lfs diff=lfs merge=lfs -text



+## Handling large files using LFS filter, diff, and merge
+## 
+## This configuration ensures that Git tracks large files using LFS, 
+## which improves performance and reduces the size of the Git repository.
+## 
+## The 'filter' attribute is set to 'lfs' for files with the '.a' extension.
+## This tells Git to use LFS to manage these files.
+## 
+## The 'diff' and 'merge' attributes are also set to 'lfs'.
+## This ensures that LFS is used for diff and merge operations
+## on '.a' files, providing a consistent experience
+## when working with large files in Git.
+## 
+## The '-text' option is used to force text mode,
+## which is useful when working with binary files.
+## 
*.a filter=lfs diff=lfs merge=lfs -text

