# Importing necessary packages
import transformers>=4.31.0  # For transformer models
import datasets~=2.3.2  # For handling datasets
import rouge_score~=0.1.2  # For evaluating summaries
import sentencepiece~=0.1.99  # For subword tokenization
from typing-extensions import TypedDict  # For type hinting
from tqdm import tqdm  # For progress bars

# Defining a custom class for summary evaluation
class SummaryEvaluation(TypedDict):
    rouge1: float
    rouge2: float
    rougeL: float
